@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu:wght@300;400;500;600;700&display=swap');
/*reset*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Noto Serif Telugu', serif;
}
html,body{
    height: 100vh;
   
}
div{
    display:flex;
    justify-content:center;
    align-items:center; 
    height: 100vh;
    flex-wrap: wrap;
    background-color: #333;
}
 
 

/* ==============================PRIMEIRA FILEIRA===================================*/
.btn{
    appearance: none;
    background-color:transparent !important;
    border:2px solid #1FD1AE;
    color: #1FD1AE;
    border-radius: 0.6em;
    cursor: pointer;

    display:flex;
    align-self: center;

    font-size:1rem;
    font-weight:700;
    line-height:1;
    margin: 20px;
    padding:1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform:uppercase;
}
.btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
}
.first {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first:hover {
    box-shadow: 0 0 40px 40px #1FD1AE inset;
}
.second {
    border-radius: 3em;
    border-color: #1abc9c;
    color: #fff;
    background-image: -webkit-linear-gradient(left, rgba(26, 188, 156, 0.6), rgba(26, 188, 156, 0.6) 5%, #1abc9c 5%, #1abc9c 10%, rgba(26, 188, 156, 0.6) 10%, rgba(26, 188, 156, 0.6) 15%, #1abc9c 15%, #1abc9c 20%, rgba(26, 188, 156, 0.6) 20%, rgba(26, 188, 156, 0.6) 25%, #1abc9c 25%, #1abc9c 30%, rgba(26, 188, 156, 0.6) 30%, rgba(26, 188, 156, 0.6) 35%, #1abc9c 35%, #1abc9c 40%, rgba(26, 188, 156, 0.6) 40%, rgba(26, 188, 156, 0.6) 45%, #1abc9c 45%, #1abc9c 50%, rgba(26, 188, 156, 0.6) 50%, rgba(26, 188, 156, 0.6) 55%, #1abc9c 55%, #1abc9c 60%, rgba(26, 188, 156, 0.6) 60%, rgba(26, 188, 156, 0.6) 65%, #1abc9c 65%, #1abc9c 70%, rgba(26, 188, 156, 0.6) 70%, rgba(26, 188, 156, 0.6) 75%, #1abc9c 75%, #1abc9c 80%, rgba(26, 188, 156, 0.6) 80%, rgba(26, 188, 156, 0.6) 85%, #1abc9c 85%, #1abc9c 90%, rgba(26, 188, 156, 0.6) 90%, rgba(26, 188, 156, 0.6) 95%, #1abc9c 95%, #1abc9c 100%);
    background-image: linear-gradient(to right, rgba(26, 188, 156, 0.6), rgba(26, 188, 156, 0.6) 5%, #1abc9c 5%, #1abc9c 10%, rgba(26, 188, 156, 0.6) 10%, rgba(26, 188, 156, 0.6) 15%, #1abc9c 15%, #1abc9c 20%, rgba(26, 188, 156, 0.6) 20%, rgba(26, 188, 156, 0.6) 25%, #1abc9c 25%, #1abc9c 30%, rgba(26, 188, 156, 0.6) 30%, rgba(26, 188, 156, 0.6) 35%, #1abc9c 35%, #1abc9c 40%, rgba(26, 188, 156, 0.6) 40%, rgba(26, 188, 156, 0.6) 45%, #1abc9c 45%, #1abc9c 50%, rgba(26, 188, 156, 0.6) 50%, rgba(26, 188, 156, 0.6) 55%, #1abc9c 55%, #1abc9c 60%, rgba(26, 188, 156, 0.6) 60%, rgba(26, 188, 156, 0.6) 65%, #1abc9c 65%, #1abc9c 70%, rgba(26, 188, 156, 0.6) 70%, rgba(26, 188, 156, 0.6) 75%, #1abc9c 75%, #1abc9c 80%, rgba(26, 188, 156, 0.6) 80%, rgba(26, 188, 156, 0.6) 85%, #1abc9c 85%, #1abc9c 90%, rgba(26, 188, 156, 0.6) 90%, rgba(26, 188, 156, 0.6) 95%, #1abc9c 95%, #1abc9c 100%);
    background-position: 0 0;
    background-size: 100%;
    -webkit-transition:  300ms ease-in-out;
    transition:  300ms ease-in-out;
}
.second:hover {
    background-position: 100px;
}
.third  {
    border-color: #0C5244 !important;
    color: #fff;
    background-image: linear-gradient(45deg, #0C5244 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: 300ms ease-in-out;
}
.third:hover{
    background-position: 0;
}
.fourth{
    border-color:#189E84;
    border-radius:0;
    color:#189E84;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 150ms ease-in-out;
}
.fourth:after{
    content:''; 
    position: absolute;  
    display: block;  
    top: 0; top: 0;
    left: 50%;
    transform: translateX(-50%); 
    width: 0;
    height: 100%;
    background-color: #189E84;
    z-index: -1;
    transition: width 350ms ease-in-out;    
}
.fourth:hover:after {
    width: 110%;
}


/* ==============================SEGUNDAFILEIRA===================================*/
.button{
    transform: translate(0%,-50%);
    position: relative;
    display: block;
    color: #fff;
    font-size:14px;
    text-decoration: none;
    margin: 20px;
    border: 2px solid #36679E;
    padding:1.2em 3.8em;
    text-transform: uppercase;
    overflow:hidden;
    transition:1s all ease;
    z-index: 1;
}
.button::before{
    background: #36679E;
    content: " ";
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
}
.btn1::before{
    width:0%;
    height:100%;
}
.btn1:hover::before{
    width:100%;
}
.btn2::before{
    width:100%;
    height:0%;
}
.btn2:hover::before{
    height:100%;
}
.btn3::before{
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(45deg);
}
.btn3:hover::before{
    height: 380%;
}
  
.btn4::before{
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(-45deg);
}
.btn4:hover::before{
    height: 380%;
}
  