@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu:wght@300;400;500;600;700&display=swap');
/*reset*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Noto Serif Telugu', serif;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column-reverse;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}
.bubbles{
    position:relative;
    display: flex;
}
.bubbles span{
    position:relative;
    width:30px;
    height:30px;
    background:#4fc3dc;
    margin: 0 4px;
    border-radius:50%;
    box-shadow:0 0 0 10px #4fc3dc44,
                0 0 50px #4fc3dc,
                0 0 100px  #4fc3dc;
    animation: animate 15s linear infinite;   
    animation-duration: calc(100s / var(--i));      
}
.bubbles span:nth-child(even){
   
    background:#ff2d75;   
 
    box-shadow:0 0 0 10px #ff2d7544,
                0 0 50px #ff2d75, 
                0 0 100px  #ff2d75;      
}
.box{
    margin: 30px;
    width:30rem;
    height: 20rem;
   

    display:flex;
    align-items: center;
    justify-content:center;
    text-align: center;

    position: relative;
    display: flex;
    transform-style: preserve-3d;
    /*transform: rotate(-5deg) skew(5deg);*/

}
h1{
 font-size: 55px;
 transition: .6s;
 background-color: transparent;
 color: gray;

}
.box:hover h1{
    z-index: 1000;
    font-size: 65px;
    color: white;
    transform: translate(40px, -40px);
    opacity:1;
}
#button{
    position: relative;
    right: 0;
    padding: 5px;
    background:none;
    color: white; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:row;
    width:210px;
    

    transition:0.9s transform;
}
#changeLangue{
    width:210px;
}
#changeLangue img{
    cursor:pointer;
    margin: 0px 5px;
    width:30px;
   
    
}
#changeLangue img:hover{
    border:1px solid #333;
    
}

#button a{
    text-decoration: none;
    color:white;
    
    
    border:1px solid white;
    border-radius: 50%;
    
    
        
}

#button i{
    position: relative;
    width:10px;
    height:10px;
    margin:10px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content:center;
    font-weight: 700 !important;
}
.flags{
    position: relative;
    right: 0;
    padding: 5px;
    background:#fff;
    visibility: hidden;
    display: flex;
    justify-content: center;
   
    align-items: center;
   
 
    border-radius: 20px 20px 0px 0px;;
    transition:0.9s transform;
}
.colors{
    position: relative;
    right: 0;
    padding: 5px;
    background:#fff;
    visibility: hidden;
    display: flex;
    justify-content: center;
   
    align-items: center;
   
    border-radius:0px 0px 25px 25px ;
   
    transition:0.9s transform;
     
}
.flags.active,
.colors.active{
    visibility: visible !important;
}

.colors span{
    position: relative;
    width:20px;
    height:20px;
    background: var(--clr);
    margin:10px;
    border-radius: 50%;
    cursor: pointer;
    background: var(--clr);
}
.colors span.active:first-child{
    border:2px solid rgb(255, 255, 255);
    scale:1.3;
}
.colors span.active{
    border:2px solid #333;
    scale:1.3;
}

/*media*/
@media screen and ( max-width:550px) {

    h1{
        font-size: 40px;   
    }
    .box:hover h1{
        font-size: 50px;
    }
  
    
}
@keyframes animate {
    0%{
        transform:translateY(100vh) scale(0)
    }
    100%{
        transform:translateY(-10vh) scale(1)
    }
}