@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu:wght@300;400;500;600;700&display=swap');
/*reset*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Noto Serif Telugu', serif;
}
body{
    min-height: 100vh;
    background: linear-gradient(125deg,#e79374
    ,#6497a9);
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    
}
.container{
width:100%;
color: #343434;
}
.container h1{
    font-size:160px;
    margin: 0;
    font-weight:900;
    letter-spacing:20px;
    background:url(https://static.preparaenem.com/2022/08/paisagem-natural-suica.jpg) center no-repeat;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
}
.container a{
    margin-top: 20px;
    text-decoration:none;
    background: #e79374;
    color: white;
    padding:14px 24px;
    display:inline-block;
    border-radius: 20px;

    font-size: 14px;

    text-transform: uppercase;
    transition:0.4s;
}
.container a:hover{
    background:#e67a49;
}